<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <title></title>
        <script src="../static/js/jquery-3.3.1.js">
        </script>
        <script type="text/javascript">

			blog_val="asdasdasdasd"

            $(function() {
                $("#btn1").click(function() {

                    alert(blog_val);
                });
            });
			$(function() {
                $("#btn2").click(function() {
	                blog_val="22222q"

                });
            });


        </script>
    </head>

    <body>
        <input type="text" id="btn1">点击</input>
		<input type="text" id="btn2">点击</input>
    </body>

</html>

<!--<div class="container-fluid" style="background-color: red">-->
<!--<div class="list-group navleft col-lg-3 col-md-3 col-sm-3 col-xs-2 friend_list"-->
<!--data-spy="scroll" style="padding-left: 0px;margin-left: 0px">-->
<!--<a href="#" class="list-group-item list-group-item-info">asd</a>-->
<!--<a href="#" class="list-group-item list-group-item-info">sad</a>-->
<!--<a href="#" class="list-group-item list-group-item-info">asd</a>-->
<!--<a href="#" class="list-group-item list-group-item-info">asd</a>-->
<!--<a href="#" class="list-group-item list-group-item-info">asd</a>-->
<!--<a href="#" class="list-group-item list-group-item-info">asd</a>-->
<!--<a href="#" class="list-group-item list-group-item-info">sad</a>-->
<!--<a href="#" class="list-group-item list-group-item-info">asd</a>-->
<!--<a href="#" class="list-group-item list-group-item-info">asd</a>-->
<!--<a href="#" class="list-group-item list-group-item-info">asd</a>-->
<!--</div>-->
<!--<div class="col-lg-9 col-md-9 col-sm-9 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-2 chatPage">-->
<!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
<!--<nav id="navbar-example2" class="navbar navbar-default navbar-static">-->
<!--<div class="navbar-header">-->
<!--<button class="navbar-toggle collapsed" type="button" data-toggle="collapse"-->
<!--data-target=".bs-example-js-navbar-scrollspy">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="#">Project Name</a>-->
<!--</div>-->
<!--<div class="navbar-collapse bs-example-js-navbar-scrollspy collapse in" aria-expanded="true">-->
<!--<ul class="nav nav-tabs navleft " role="tablist">-->
<!--<li role="presentation" class="active"><a href="#home" aria-controls="home" data-toggle="tab">Home</a>-->
<!--</li>-->
<!--<li role="presentation"><a href="#profile" aria-controls="profile"data-toggle="tab">Profile</a>-->
<!--</li>-->
<!--<li role="presentation"><a href="#messages" aria-controls="messages" data-toggle="tab">Messages</a>-->
<!--</li>-->
<!--<li role="presentation"><a href="#settings" aria-controls="settings" data-toggle="tab">Settings</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash; Tab panes &ndash;&gt;-->
<!--<div class="tab-content">-->
<!--<div role="tabpanel" class="tab-pane active" id="home" style="background-color: pink">...</div>-->
<!--<div role="tabpanel" class="tab-pane" id="profile"></div>-->
<!--<div role="tabpanel" class="tab-pane" id="messages">...</div>-->
<!--<div role="tabpanel" class="tab-pane" id="settings">...</div>-->
<!--</div>-->
<!--</nav>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;<div class="col-lg-9 col-md-9 col-sm-9 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-2 chatPage">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; Nav tabs &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<nav id="navbar-example2" class="navbar navbar-default navbar-static">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="navbar-header">&ndash;&gt;-->
<!--&lt;!&ndash;<button class="navbar-toggle collapsed" type="button" data-toggle="collapse"&ndash;&gt;-->
<!--&lt;!&ndash;data-target=".bs-example-js-navbar-scrollspy">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="sr-only">Toggle navigation</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;<a class="navbar-brand" href="#">Project Name</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="navbar-collapse bs-example-js-navbar-scrollspy collapse in" aria-expanded="true">&ndash;&gt;-->
<!--&lt;!&ndash;<ul class="nav nav-tabs navleft " role="tablist">&ndash;&gt;-->
<!--&lt;!&ndash;<li role="presentation" class="active"><a href="#home" aria-controls="home" data-toggle="tab">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li role="presentation"><a href="#profile" aria-controls="profile"data-toggle="tab">Profile</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li role="presentation"><a href="#messages" aria-controls="messages" data-toggle="tab">Messages</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li role="presentation"><a href="#settings" aria-controls="settings" data-toggle="tab">Settings</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; Tab panes &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div class="tab-content">&ndash;&gt;-->
<!--&lt;!&ndash;<div role="tabpanel" class="tab-pane active" id="home" style="background-color: pink">...</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div role="tabpanel" class="tab-pane" id="profile"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div role="tabpanel" class="tab-pane" id="messages">...</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div role="tabpanel" class="tab-pane" id="settings">...</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<div class="bs-example bs-example-padded-bottom">-->
<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
<!--Launch demo modal-->
<!--</button>-->
<!--</div>-->

<!--<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block; padding-right: 17px;">-->
<!--<div class="modal-dialog" role="document">-->
<!--<div class="modal-content">-->

<!--<div class="modal-header">-->
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>-->
<!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<h4>Text in a modal</h4>-->
<!--<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>-->

<!--<h4>Popover in a modal</h4>-->
<!--<p>This <a href="#" role="button" class="btn btn-default popover-test" title="" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">button</a> should trigger a popover on click.</p>-->

<!--<h4>Tooltips in a modal</h4>-->
<!--<p><a href="#" class="tooltip-test" title="" data-original-title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="" data-original-title="Tooltip">that link</a> should have tooltips on hover.</p>-->

<!--<hr>-->

<!--<h4>Overflowing text to show scroll behavior</h4>-->
<!--<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>-->
<!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>-->
<!--<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>-->
<!--<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>-->
<!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>-->
<!--<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>-->
<!--<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>-->
<!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>-->
<!--<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--<button type="button" class="btn btn-primary">Save changes</button>-->
<!--</div>-->

<!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>-->

<!--class="modal-content col-lg-4 col-lg-offset-4 col-md-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 col-xs-12"-->